/*
 * @Author: 李浩栋 
 * @Date: 2019-05-01 20:01:43 
 * @Last Version by:   0.0 
 * @Last Version time: 2019-05-01 20:01:43 
 */
 
.user-zc {
    width: 1190px;
    height: 706px;
    margin: 0 auto;
    position: relative;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}

.user-zc .bac-img {
    width: 500px;
    height: 500px;
    float: right;
    position: absolute;
    right: 300px;
    top: 50%;
    margin-top: -250px;
    background-image: url(../images/logo.png);
    background-size: 100%;
    opacity: 0.3;
}

.zhuce-title {
    height: 70px;
    width: 100%;
    position: relative;
}

.zhuce-title::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 11%;
    width: 80%;
    height: 20px;
    background-image: url('../images/registerTitle.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.zhuce-title .user h2 {
    text-align: center;
    line-height: 70px;
}

.zhuce-title .user hr {
    width: 90%;
    text-align: center;
    margin-left: 18px;
    background-color: #000;
}

.user-zc .sign-in {
    width: 800px;
    height: 600px;
    margin-top: 10px;
    margin-left: 18px;
}

.user-zc .sign-in td>input {
    border: 1px solid rgb(26, 184, 229);
    margin-left: 18px;
    margin-top: 6px;
    height: 35px;
    width: 200px;
    font-size: 14px;
    padding: 0 5px;
    outline: none;
    border-radius: 10px;
}

.user-zc .sign-in td>input[type=radio] {
    width: 36px;
    height: 18px;
}

.user-zc .sign-in .fileIc{
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    margin-top: 10px;
    margin-left: 18px;
}
.user-zc .sign-in .fileIc>input[type=file]{
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.user-zc .sign-in .fileIc:hover{
    color: #444;
    background: #eee;
    border-color: rgb(26, 184, 229);
}
.user-zc .sign-in tr {
    padding: 8px 0;
    height: 22px;
}

.user-zc .sign-in .text {
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    width: 77px;
}

.user-zc .sign-in .gray12 {
    margin-left: 18px;
    font-size: 14px;
    line-height: 22px;
    display: block;
    color: #f60;
}

.user-zc .sign-in .text .red {
    color: red;
    font-size: 18px;
    vertical-align: middle;
}

.user-zc .sign-in td input.submit {
    width: 100px;
    height: 37px;
    background-color: rgb(26, 184, 229);
    border: none;
    color: #fff;
    border-radius: 9px;
}