/*
 * @Author: 李浩栋 
 * @Date: 2019-05-01 20:06:25 
 * @Last Version by:   0.0 
 * @Last Version time: 2019-05-01 20:06:25 
 */
.foot_line {
    width: 1200px;
    margin: 0 auto;
}

.foot_line .padding-top {
    padding-top: 8px;
    font-size: 12px;
    color: #8b8b8b;
}

.foot_line p img {
    width: 1200px;
    margin-bottom: 20px;
}