/*
 * @Author: 李浩栋
 * @Begin: 2019-04-07 20:56:26
 * @Update: 2019-05-25 19:00:27
 * @Update log: 更新日志
 */



.Detail_main {
    width: 1190px;
    margin: 0 auto;
    background-color: #fff;
}

.Detail_main>.left {
    width: 230px;
    height: 536px;
}

.font14 {
    font-size: 14px;
    font-weight: 700;
}

.font16 {
    font-size: 16px;
    font-weight: 700;
    color: #3c3c3c;
}

/* 中间部分------------------------------------------------------------ */

.middle {
    float: left;
    width: 950px;
    margin-left: 8px;
    margin-bottom: 8px;
    position: relative;
}

.middle .pic_title {
    background: linear-gradient(to right, #FF8E1B, rgb(255, 192, 128));
    line-height: 35px;
    font-size: 14px;
    text-indent: 20px;
    text-align: left;
    width: 100%;
    height: 35px;
    color: #fff;
}

.middle .middle_top {
    width: 100%;
    height: 463px;
}

/* 商品图片展示区 ------------------------------------------------------------*/

.middle .left_pic {
    width: 370px;
    height: 463px;

    position: relative;
    float: left;
}

.middle .left_pic .box {
    position: relative;
    width: 360px;
    height: 360px;
    margin-top: 8px;
}

.middle .left_pic .box img {
    width: 100%;
    height: 100%;
}

.middle .left_pic .box .move {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 180px;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.3);
}

.middle .right_pic {
    display: none;
    position: absolute;
    left: 370px;
    top: 43px;
    width: 360px;
    height: 360px;
    overflow: hidden;
    z-index: 1001;
}

.left_pic .small_piclist {
    width: 360px;
    height: 70px;
    margin-top: 10px;
    cursor: pointer;
}

.left_pic .small_piclist li {
    width: 67px;
    height: 67px;
    float: left;
    box-sizing: border-box;
    border: 2px solid transparent;
    margin-right: 5px;
    transition: all 0.2s ease-in-out;
}

.left_pic .small_piclist li.on {
    border-color: #f40;
}

.left_pic .small_piclist li img {
    font-size: 0;
    width: 100%;
    height: 100%;
}

.middle .right_pic img {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
}

/* 价格区------------------------------------------------------------ */
.middle_top>.right {
    width: 580px;
    height: 463px;
    box-sizing: border-box;
}

.middle .right .font16 {
    width: 430px;
    margin-left: 18px;
    margin-top: 8px;
    line-height: 24px;
}

.middle .right .mon {
    width: 430px;
    height: 123px;
    margin-left: 18px;
    margin-top: 8px;
    background-color: #FFF2E8;
    position: relative;
    z-index: 1;

}

.middle .right .mon ul li {
    width: 200px;
    height: 40px;
    margin-right: 30px;
    /* border: 1px solid #000; */
    float: left;
}

.middle .right .goods-list {
    display: inline-block;
    width: 60px;
    height: 40px;
    color: #6c6c6c;
    line-height: 40px;
    margin-left: 8px;
}

.middle .right .mon ul li .con {
    float: right;
    width: 100px;
    height: 40px;
    /* border: 1px solid #000; */
    margin-right: 30px;
    position: relative;
}

.middle .right .mon ul li .con i {
    font-family: arial;
}

.middle .right .mon ul li .con .money1,
.middle .right .mon ul li .con .lastmon {
    line-height: 40px;
    font-weight: 400;
    color: rgb(60, 60, 60);
    font-size: 14px;
}

.middle .right .mon ul li .con .lastmon {
    text-decoration: line-through;
}

.middle .right .mon ul li .con .money2,
.middle .right .mon ul li .con .nowmon {
    line-height: 40px;
    font-weight: 700;
    color: #f40;
    font-size: 26px;

}

.middle .right .mon ul li .con .hotshop {
    padding: 0 4px;
    height: 18px;
    line-height: 18px;
    font-size: 16px;
    color: #fff;
    background-color: #FF8E1B;
    position: absolute;
    right: -63px;
    top: 11px;
}


.middle .right .mon ul li .con .taomoncon {
    line-height: 40px;
}

.middle .right .mon .sum-com {
    position: absolute;
    top: 8px;
    right: 66px;
    width: 48px;
    height: 42px;
    color: #6c6c6c;
}

.middle .right .mon .sum-com::after {
    content: "";
    width: 1px;
    height: 40px;
    background-color: #ffe4d0;
    position: absolute;
    right: -5px;
    top: 0;
}

.middle .right .mon .sum-com a,
.middle .right .mon .sum-shop a {
    display: block;
    font-size: 16px;
    text-align: center;
    color: #6c6c6c;

}

.middle .right .mon .sum-shop {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 48px;
    height: 42px;
    margin-left: 8px;
    color: #6c6c6c;

}

.middle .right .dil {
    width: 430px;
    height: 36px;
    margin-left: 18px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

/* 地址样式--------------------------- */
.middle .right .dil .address {
    display: inline;
}

.middle .right .dil .dil-mon .express::after,
.middle .right .dil .address .target::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    right: 2px;
    top: 5px;
    overflow: hidden;
    border-color: #606060 transparent transparent;
    border-width: 4px 4px 0;
    border-style: solid;
    margin: 3px;
}

.middle .right .dil .address .target,
.middle .right .dil .dil-mon {
    position: relative;
    cursor: pointer;
    padding: 3px;
    border: 1px solid transparent;
    padding-right: 18px;
}

.middle .right .dil .city_selector {
    display: none;
    z-index: 1000;
    position: absolute;
    box-sizing: border-box;
    padding: 8px;
    right: 1px;
    top: 30px;
    border: 1px solid #f40;
    width: 290px;
    height: 50px;
    background-color: #fff;
}

.middle .right .dil .form-control {
    width: 80px;
    height: 30px;
    border: 1px solid #f40;
    outline: none;
    visibility: hidden;
}

.middle .right .dil .city_selector .submit_city {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #f40;
    color: #fff;
    outline: none;
    border: none;
    padding: 1px 3px;
    border-radius: 8px;
}

.middle .right .dil .address .target:hover,
.middle .right .dil .dil-mon:hover {
    box-sizing: border-box;
    border: 1px solid #ff5002;
    background-color: #ffefe4;
    color: #ff5d13;
    text-decoration: none;
}

.middle .right .dil .dil-mon.on {
    background-color: #f40;
    color: #fff;
}

.middle .right .dil .dil-mon,
.middle .right .dil .hour {
    display: inline;
    margin-left: 7px;
}

.middle .right .dil .dil-mon .free {
    display: none;
    position: absolute;
    top: 20px;
    left: 0px;
    box-sizing: border-box;
    padding: 10px;
    width: 180px;
    background-color: #FFEFE4;
    border: 1px solid #f40;
    height: 30px;
    line-height: 10px;
    color: #000;

}

.middle .right .num,
.middle .right .size,
.middle .right .color {
    margin-top: 5px;
    margin-left: 18px;
    width: 430px;
    height: 50px;
}

.middle .right .color {
    margin-top: 0;
}

.middle .right .num .num_text,
.middle .right .color .color_text,
.middle .right .size .size_text {
    line-height: 50px;
    font-size: 12px;
    color: #6c6c6c;
    margin-left: 8px;
}

.middle .right .num .numDetail,
.middle .right .color .colorDetail,
.middle .right .size .sizeDetail {
    width: 360px;
    height: 50px;
    position: relative;
}

.middle .right .color .colorDetail li,
.middle .right .size .sizeDetail li {
    cursor: pointer;
    display: inline-block;
    margin-right: 6px;
    margin-top: 11px;
    padding: 5px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    color: #999;
    border: 2px solid #ccc;
    transition-duration: 0.2s;

}

.middle .right .color .colorDetail li {
    padding: 8px 5px;
}

.middle .right .color .colorDetail li:hover,
.middle .right .size .sizeDetail li:hover {
    border: 2px solid #f40;
}

.middle .right .color .colorDetail li.on,
.middle .right .size .sizeDetail li.on {
    border: 2px solid #f40;
}

.middle .right .num .sumNum {
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #ccc;
    height: 30px;
}

.middle .right .num .sumNum a {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    background-color: #ccc;
}

.middle .right .num .sumNum .number {
    position: relative;
    top: -1px;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 30px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #666;
    border: 1px solid #CCC;
    outline: 0;
    background: #FFF;
}

.middle .right .buy_action {
    margin-left: 18px;
    width: 370px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
}

.middle .right .buy_action .nowpay {
    float: left;
}

.middle .right .buy_action .nowpay a {
    width: 150px;
    height: 36px;
    background-color: #FFE4D0;
    border-color: #F0CAB6;
    color: #E5511D;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
}

.middle .right .buy_action .add_shopcar {
    float: right;
    position: relative;
}

.middle .right .buy_action .add_shopcar::before {
    content: "";
    position: absolute;
    left: 35px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background-image: url('../images/购物车.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.middle .right .buy_action .add_shopcar a {
    padding-left: 30px;
    width: 160px;
    height: 36px;
    background-color: #F22D00;
    border-color: #F0CAB6;
    color: #fff;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
}



.middle .middle_bottom_main {
    float: left;
    width: 750px;
}

.middle .tab {
    width: 100%;
    height: 45px;
    background-color: #f6f6f6;
}

.middle .tab li:nth-of-type(1) {
    border-left: 1px solid #ccc;
}

.middle .tab li {
    float: left;
    width: 131px;
    height: 45px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: center;
    line-height: 45px;
    position: relative;
    border-top: 2px solid transparent;
    box-sizing: border-box;
}


.middle .tab li a {
    width: 100%;
    height: 100%;
    font-size: 14px;
}

.middle .tab li .evaluation-sum {
    position: absolute;
    right: 15px;
    top: 0px;
    color: #f40;
    font-size: 14px;
    font-weight: 700;
}

.middle .tab li.tab_active {
    border-top-color: #f40;
    background-color: #fff;
    border-bottom: none;
}

.middle .tab li.tab_active a {
    color: #f40;
}


.middle .middle_bottom_main .tab_content {
    display: none;
    width: 100%;
    height: 20852px;
}



.middle .middle_bottom_main .tab_content .particulars {
    width: 950px;
    height: 170px;
    padding: 20px 20px 10px 50px;
}

.middle .middle_bottom_main .tab_content .particulars li {
    float: left;
    width: 290px;
    height: 30px;
}

/* 价格说明文字区域 ------------------------------------------------------ */
.middle .middle_bottom_main .tab_content2 {
    margin-top: 10px;
    display: none;
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.middle .middle_bottom_main .tab_content2 .statement {
    font-size: 18px;
}

.middle .middle_bottom_main .tab_content2 .statement_title:nth-of-type(1) {
    border-top: 1px solid #ccc;
}

.middle .middle_bottom_main .tab_content2 .statement_title {
    margin-top: 8px;
    padding-top: 8px;
    color: #f40;
}

.middle .middle_bottom_main .tab_content2 .statement_text {
    color: #888;
}

/* 买家评价区域 -----------------------------------------*/
.middle .middle_bottom_main .tab_content3 {
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: none;
}

.middle .middle_bottom_main .tab_content3 thead {
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.middle .middle_bottom_main .tab_content3 th {
    width: 130px;
    font-size: 16px;
}

.middle .middle_bottom_main .tab_content3 tbody {
    width: 100%;
}

.middle .middle_bottom_main .tab_content3 tbody tr {
    width: 100%;
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid #ccc;
}

.middle .middle_bottom_main .tab_content3 tbody tr:last-child {
    border-color: transparent;
}

.middle .middle_bottom_main .tab_content3 tbody tr td {
    width: 130px;
    text-align: center;
}

.middle .middle_bottom_main .tab_content3 tbody tr td:nth-last-child(1) {
    box-sizing: border-box;
    padding: 20px;
    line-height: 16px;
    text-align: left;
}

/* 右侧看了又看区域--------------------------------------------- */
.middle .see-to-see {
    float: right;
    width: 184px;
}

.middle .see-to-see .see_title {
    position: relative;
    color: #ccc;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.middle .see-to-see .see_title::before {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    top: 24px;
    left: 0;

}

.middle .see-to-see .see_title::after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    top: 24px;
    right: 5px;
}

.middle .see-to-see li {
    width: 100%;
    height: 260px;
    text-align: center;
}


.middle .see-to-see li img {
    width: 150px;
    height: 150px;
}

.middle .see-to-see li p {
    color: #999;
    margin-top: 8px;
}