.top_nav_father {
    height: 35px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #efefef;
    box-shadow: 0px 0px 3px #ccc;
    margin-bottom: 3px;
}

.top_nav_father .top_nav {
    width: 1190px;
    height: 100%;
    margin: 0 auto;
}

.top_nav_father .top_nav ul li {
    display: inline-block;
    margin-right: 7px;
}

.top_nav_father .top_nav ul a {
    color: #7c7c7c;
    font-size: 12px;
    line-height: 35px;
}

.top_nav_father .top_nav ul a:hover {
    color: #f40;
}

.top_nav_father .top_nav ul .china {
    font-size: 13px;
    line-height: 35px;
}

.top_nav_father .top_nav .nav_left .login {
    color: #f40;
}

.top_nav_father .bg_pic.dsj_pic {
    display: inline-block;
    background-image: url('../images/jiantou.png');
    background-size: 100% 100%;
    width: 18px;
    height: 10px;
    vertical-align: 0px;
}

.top_nav_father .nav_right .bg_pic.shop_car_pic {
    display: inline-block;
    background-image: url("../images/car.png");
    background-size: 100% 100%;
    width: 20px;
    height: 18px;
    vertical-align: middle;
}

.top_nav_father .nav_right .shop_car_num {
    color: #f40;
    font-weight: bold;
}

.top_nav_father .nav_right .bg_pic.like_pic {
    display: inline-block;
    background-image: url("../images/star.png");
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.top_nav_father .nav_right .bg_pic.net_pic {
    display: inline-block;
    background-image: url("../images/network.png");
    background-size: 100% 100%;
    width: 20px;
    height: 13px;
    vertical-align: middle;
}

.top_nav_father .nav_right .string {
    color: #c9c6c6;
    line-height: 35px;
    margin-left: 15px;
}
