/*
 * @Author: 李浩栋 
 * @Date: 2019-05-01 20:01:07 
 * @Last Version by:   0.0 
 * @Last Version time: 2019-05-01 20:01:07 
 */
.logo{
    width: 100%;
    height: 66px;
    /* border: 1px solid #000; */
    background: linear-gradient(to bottom,  #E89B86 0%,rgb(253, 213, 202) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E89B86', endColorstr='#EA9E89',GradientType=0 );
}

.logo .logo_container{
    position: relative;
    width: 1190px;
    height: 100%;
    margin: 0 auto;
}

.logo .logo_container .logo_img{
    width: 66px;
    height: 66px;
      
}

.logo .logo_container .logo_img img{
    width: 100%;
    height: 100%;
}

.logo .logo_banner{
    position: absolute;
    top: 0;
    right: 0;
}