/*
 * @Author: 李浩栋
 * @Begin: 2019-04-20 09:14:12
 * @Update: 2019-05-13 09:45:51
 * @Update log: 更新日志
 */

.menu {
    /* 宽度撑开 */
    width: 100%;
    height: 100%;
}

.menu .menu_list li {
    /* 每一行菜单高度为35px */
    width: 100%;
    height: 35px;
    position: relative;
}

.menu .menu_list li a {
    /* 设置a标签宽度高度撑满更好的点击*/
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 0 0 30px;
}

.menu .menu_list .red_dot a::before {
    /* 列表前的小红点 */
    content: "";
    position: absolute;
    left: 16px;
    top: 50%;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: red;
}

.menu .menu_list .red_dot a::after {
    /* 列表后的小箭头 */
    content: "";
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -7px;
    width: 15px;
    height: 15px;
    background-image: url('../images/右.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.menu .menu_list .title {
    /* 设置菜单列表标题样式 */
    background-color: #A1A595;
    width: 100%;
    height: 35px;
    text-align: left;
    line-height: 35px;
    font-size: 15px;
    font-weight: 700;
    font-family: '微软雅黑';
    text-indent: 1em;
    cursor: pointer;
}

.menu .menu_list .right {
    /* 菜单在关闭状态下的标题右边箭头样式 */
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -9px;
    width: 14px;
    height: 18px;
    background-image: url('../images/right.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    /* IE 9 */
    -moz-transform: rotateZ(0deg);
    /* Firefox */
    -webkit-transform: rotateZ(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotateZ(0deg);
    /* Opera */
    transition: 0.3s;
    -moz-transition: 0.3s;
    /* Firefox 4 */
    -webkit-transition: 0.3s;
    /* Safari 和 Chrome */
    -o-transition: 0.3s;
    /* Opera */
}

.menu .menu_list .down {
    /* 菜单在打开状态下的标题右边箭头样式 */
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -7px;
    width: 18px;
    height: 14px;
    background-image: url('../images/right.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    /* IE 9 */
    -moz-transform: rotateZ(90deg);
    /* Firefox */
    -webkit-transform: rotateZ(90deg);
    /* Safari 和 Chrome */
    -o-transform: rotateZ(90deg);
    /* Opera */
    transition: 0.3s;
    -moz-transition: 0.3s;
    /* Firefox 4 */
    -webkit-transition: 0.3s;
    /* Safari 和 Chrome */
    -o-transition: 0.3s;
    /* Opera */
}

.menu .menu_list .red_dot {
    /* 默认状态下菜单列表内容不显示 */
    display: none;
    background-color: #E5F1EC;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: left;
    font-size: 15px;
    font-family: '微软雅黑';
    transition-delay: .3s;
}

.menu .menu_list .red_dot:hover {
    /* 菜单列表样式 */
    background-color: #FACEC2;
}