/*
 * @Author: 李浩栋
 * @Begin: 2019-04-20 09:14:12
 * @Update: 2019-06-07 13:50:56
 * @Update log: 更新菜单列表切换样式
                改为通过类名控制当前显示的列表项
 */
 @import "https://at.alicdn.com/t/font_1232202_bjil53l9bl.css";

.menu {
    /* 宽度撑开 */
    width: 100%;
    height: 100%;
}

.menu .menu_list li {
    /* 每一行菜单高度为35px */
    width: 100%;
    height: 35px;
    position: relative;
}

.menu .menu_list.active .iconxiasanjiao{
    transform: rotateZ(0deg);
}
.menu .menu_list li .iconxiasanjiao{
    position: absolute;
    right: 5px;
    color: #fff;
    transform: rotateZ(-90deg);
    transform-origin: 23px 17px;
    transition: .3s;
}
.menu .menu_list li a {
    /* 设置a标签宽度高度撑满更好的点击*/
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 0 0 30px;
}
.menu .menu_list .red_dot{
    position: relative;
    display: none;
}

.menu .menu_list.active .red_dot{
    display: block;
}
.menu .menu_list .red_dot a::before {
    /* 列表前的小红点 */
    content: "";
    position: absolute;
    left: 16px;
    top: 50%;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: red;
}

.menu .menu_list .iconiconfonticonfonti2copycopy{
    font-size: 12px;
    color: #666;
    position: absolute;
    right: 8px;
}

.menu .menu_list .title {
    /* 设置菜单列表标题样式 */
    background-color: #A1A595;
    width: 100%;
    height: 35px;
    text-align: left;
    line-height: 35px;
    font-size: 15px;
    font-weight: 700;
    font-family: '微软雅黑';
    text-indent: 1em;
    cursor: pointer;
}

.menu .menu_list .red_dot {
    /* 默认状态下菜单列表内容不显示 */
    display: none;
    background-color: #E5F1EC;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: left;
    font-size: 15px;
    font-family: '微软雅黑';
    transition-delay: .3s;
}

.menu .menu_list .red_dot:hover {
    /* 菜单列表样式 */
    background-color: #FACEC2;
}