.nav_bg{
    width: 100%;
    height: 42px;
    background: linear-gradient(to right,  #FF4466 0%,#F37380 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF4466', endColorstr='#F37380',GradientType=0 );
}

.nav_bg .nav_content{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
    font-family: '微软雅黑';
    font-size: 16px;
    font-weight: 700;
}

.nav_bg .nav_content .nav {
    height: 100%;
}

.nav_bg .nav_content .nav li {
    cursor: pointer;
    float: left;
    width: 170px;
    height: 42px;
    color: #fff;
    line-height: 42px;
    text-align: center;
    background-color: rgb(247, 67, 100);
}

.nav_bg .nav_content .nav li.nav_active {
    background-color: rgb(216, 60, 88);
}

.nav_bg .nav_content .nav li:hover{
    background-color: rgb(216, 60, 88);
}
.nav_bg .nav_content .nav li .white{
    color: #fff;
}